<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.si.coletor.coletorads_b" >

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.ColetorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>

        <service android:name=".service.SocketCliente">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="SINCRONIZAR_MENSGENS"/>
            </intent-filter>
        </service>

        <service android:name=".service.SincronizaMensagens">

        </service>

        <service android:name=".service.ExcluiMensagens">

        </service>

        <receiver android:name=".util.SaveMessageReciver">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="SAVE_MESSAGES"/>
            </intent-filter>

        </receiver>

        <service android:name=".util.SaveMessageFile">

        </service>

        <receiver android:name=".receivers.VerificaConexao">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
